:root {
    --background: #ffffff;
    --foreground: #171717;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* reset nhẹ nhàng */
html,
body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
}

body {
    background: var(--background);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
