@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

* {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 
 

body {
    background: var(--background);
    color: black !important;
    font-family: Arial, Helvetica, sans-serif;
}
